#wrap {
	width: 80rem;
	margin: 0 auto;
}

/*----- 表格 -----*/
#one table {
	font: 16px sans-serif;
	margin: 0 auto;
}

#one thead {
	background-color: #000;
	color: #FFF;
	text-align: left;
}

#one tbody tr:nth-child(even) {
	background-color: #C0C0C0;
}

tbody tr:nth-child(1),
tbody tr:nth-child(2),
tbody tr:nth-child(3) {
	color: #F91616;
}

/*----- 输入框 -----*/
#two input {
	width: 10rem;
	margin: 3rem 33rem;
	transition-property: width;
	transition-duration: 1.5S;
}

#two input:focus {
	width: 13rem;
}

/*----- 轮播动画 -----*/
#three {
	width: 15rem;		
	height: 10rem;
	margin: 3rem auto;
	border: 0.1rem;
	box-shadow: 0 0 0.5rem black;
	position: relative;
	overflow: hidden;
}

#bg {
	height: 100%;
	width: 100%;
	position: relative;
	background-color: red;
}

#bg1 {
	background: red;
	width: 0;
	height: 100%;
	position: absolute;
	transition: width 2S;
}

#bg2 {
	background: blue;
	width: 0;
	height: 100%;
	position: absolute;
	transition: width 2S;
}

#bg3 {
	background: green;
	width: 0;
	height: 100%;
	position: absolute;
	transition: width 2S;
}

#bg1:target, #bg2:target, #bg3:target {
	width: 30rem;
}

#contrl_wrap {
	position: absolute;
	bottom: 0.4rem;
	right: 0.3rem;
}

#three a {
	background-color: rgba(255,255,255,0.3);
	text-decoration: none;
	color: white;
	padding: 0.1rem 0.5rem;
}