#wrap {
	width: 500px;
	margin: 0 auto;
}

/*----- 表格 -----*/
#one table {
	font: 16px sans-serif;
	margin: 0 auto;
}

#one thead {
	background-color: #000;
	color: #FFF;
	text-align: left;
}

#one tbody tr:nth-child(even) {
	background-color: #C0C0C0;
}

tbody tr:nth-child(1),
tbody tr:nth-child(2),
tbody tr:nth-child(3) {
	color: #F91616;
}

/*----- 输入框 -----*/
#two {
	padding: 3rem 0 0 8rem ;
}

#two input {
	width: 10rem;
	height: 1.5rem;
	transition-property: width;
	transition-duration: 1S;
}

#two input:focus {
	width: 15rem;
}

/*----- 轮播动画 -----*/
#three {
	width: 15rem;		
	height: 10rem;
	margin: 3rem auto;
	box-shadow: 0 0 3px #404040;
	position: relative;
	overflow: hidden;
	background-color: #7FC9FF;
}

#bg {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	overflow: hidden;
	animation: 0.5S def;
}

#bg > div {
	height: 100%;
	width: 100%;
	position: absolute;
	left: -100%;
	animation: 0.5S slide_hide;
}

#bg1 {
	background: #7FC9FF;
}

#bg2 {
	background: #FF6A00;
}

#bg3 {
	background: #FF7FB6;
}

#bg :target {
	left: 0%;
	animation: 0.5S scroll;
}

@keyframes slide_hide {
	0% {left: 0;}
	100% {left: -100%;}
}

@keyframes scroll {
	0% {left: 100%;}
	100% {left: 0%;}
}

@keyframes def {
	0% {left: -100%;}
	100% {left: 0%;}
}

#contrl_wrap {
	position: absolute;
	z-index: 2;
	bottom: 0.4rem;
	right: 0.3rem;
}

#three a {
	background-color: rgba(255,255,255,0.3);
	color: white;
	padding: 0.1rem 0.5rem;
	text-decoration: none;
}