body {
	margin: 0;
	padding: 0;
	font-family: Arial,sans-serif;
	background-color: #FAF8EF;
	background-image: repeating-linear-gradient(90deg, #FAF8EF, #FAF8EF 5px, #F9F6F2 0, #F9F6F2 10px);
}

#wrapper {
	display: block;
	width: 500px;
	height: 100%;
	padding: 20px;
	margin: 0 auto;
}

#heading {
	display: block;
	width: 500px;
	margin: 20px 0;
	position: relative;
}

#title {
	display: inline-block;
	font-size: 80px;
	color: #776e65;
	position: relative;
	left: 0;
	top: 0;
	margin: 20px;
}

#score {
	display: inline-block;
	background-color: #bbada0;
	width: 70px;
	padding: 10px 20px 5px;
	float: right;
	margin: 20px;
	margin: 10px 0;
	border-radius: 4px;
	color: #FFF;
	font-size: 30px;
	line-height: 1.4;
	font-weight: bold;
	text-align: center;
}

#score:before {
	content: "SCORE";
	display: block;
	color: #eee4da;
	font-size: 14px;
	line-height: 1;
}

#tips {
	display: inline-block;
	font-size: 18px;
	line-height: 45px;
	color: #776e65;
}

#new_game {
	float: right;
	transition: text-shadow 0.4S;
}

#new_game:hover {
	text-shadow: 0 0 5px #DDBE20;
}

#new_game a {
	display: inline-block;
	text-decoration: none;
	background-color: #8F7A64;
	color: #f9f6f2;
	font-size: 20px;
	font-weight: bold;
	border-radius: 4px;
	padding: 10px;
}

#container {
	display: block;
	width: 500px;
	height: 500px;
	background-color: #bbada0;
	border-radius: 8px;
	position: relative;
	cursor: default;
}

.grid-cell {
	width: 20%;
	height: 20%;
	background-color: rgba(238, 228, 218, 0.35);
	margin: 4% 0 0 4%;
	border-radius: 4px;
	float: left;
}

.number-cell {
	display: none;
	width: 20%;
	height: 20%;
	position: absolute;
	z-index: 10;
	border-radius: 4px;
	font-size: 550px;
	font-weight: bold;
	text-align: center;
	line-height: 100px;
}

@keyframes pop {
	0% {transform: scale(1);}
	50% {transform: scale(1.2);}
	100% {transform: scale(1);}
}

.new_number {
	animation: pop 0.2S;
}

#notice {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
	background-color: rgba(238,228,218,0.8);
}

@keyframes noticPop {
	0% {transform: scale(0.8);}
	50% {transform: scale(1.1);}
	100% {transform: scale(1);}
}

#notice p {
	font-size: 60px;
	font-weight: bold;
	color: #F3CC0B;
	text-shadow: 0 0 20px #f1cd1c;
	text-align: center;
	margin-top: 150px;
	animation: noticPop 0.3S;
}

#retry {
	display: block;
	width: 40%;
	padding: 10px 5px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: #f9f6f2;
	background-color: rgba(143,122,100,0.9);
	border-radius: 5px;
	cursor: pointer;
	margin: 0 auto;
}
