body {
	min-height: 50vh;
	margin: 0;
	padding: 3.125em .625em .625em;
	font-family: Helvetica,Arial,"PingFang SC","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
	background-color: #F5F5F5;
	background-image: linear-gradient(180deg, rgba(127,201,255,.8), #F5F5F5 50%);
	background-repeat: no-repeat;
}

#wrapper {
	min-height: 400px;
	min-height: 25rem;
	max-width: 640px;
	max-width: 40rem;
	padding: 5rem 1rem 1rem;
	margin:0 auto;
	position: relative;
	border-radius: 2px;
	background-color: rgba(255,255,255,.95);
	box-shadow: 0 4px 4px -1px rgba(0,0,0,.2);
}

#querybox {
	position: absolute;
	top: 1.5rem;
	left: -0.5rem;
}

#query-text {
	display: inline-block;
	height: 50px;
	height: 3.125rem;
	max-width: 630px;
	max-width: calc(100% - 110px);
	padding: 0 3rem 0 0.625rem;
	float: left;
	vertical-align: top;
	border: 0;
	border-radius: 2px 0 0 2px;
	box-shadow: 10px 0 6px 1px #A0A0A0, 0 4px 30px 10px rgba(204,204,204,.4);
	color: #555;
	font-size: 30px;
	font-size: 1.875rem;
	font-family: Helvetica,Arial,"PingFang SC","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
	line-height: 1.5;
	background-color: #FFF;
	outline: 0;
	transition: box-shadow .5s .1s ease-out;
}

#query-text:focus {
	box-shadow: 0 15px 50px 6px rgba(0,0,0,.2);
}

/* 设置 placeholder 样式 */
#query-text::-webkit-input-placeholder { 
    color: rgba(220,220,220, 0.2);
    font-style: italic;
    font-weight: lighter;
}

#query-text::-moz-placeholder { 
    color: rgba(220,220,220, 0.2);
    font-style: italic;
    font-weight: lighter;
}
#query-text:-ms-input-placeholder { 
    color: rgba(220,220,220, 0.2);
    font-style: italic;
    font-weight: lighter;
}

/* 隐藏 IE 上的清除按钮*/
#query-text::-ms-clear {
	display: none;
}

#query-text:focus + #search-button {
	box-shadow: 0 15px 50px 6px rgba(0,0,0,.2);
	opacity: .9;
}

#search-button {
	display: inline-block;
	width: 30px;
	width: 1.875rem;
	height: 30px;
	height: 1.875rem;
	position: relative;
	top: -1px;
	padding: 11px 14px 11px 6px;
	background-color: #0094FF;
	outline: 0;
	border: 0;
	border-radius: 2px;
	cursor: pointer;
	box-shadow: -5px 0 6px 1px #A0A0A0, 0 4px 30px 10px rgba(204,204,204,.4);
	transition: box-shadow .5s .1s ease-out, opacity .5s .1s ease-out, background-color .2s;
}

#search-button:before {
	content: "";
	display: block;
	width: 8px;
	width: .5rem;
	position: absolute;
	left: -22px;
	top: 0;
	z-index: 10;
	border-bottom: solid 3.25rem #0094FF;
	border-left: solid 1rem transparent;
	transition: all .2s;
}

#search-button:hover {
	background-color: #1990E5;
}

#search-button:hover:before {
	border-bottom: solid 52px #1990E5;
}

/* 清除按钮 */
#clear-button {
	width: 30px;
	height: 3px;
	position: absolute;
	right: 74px;
	top: 24px;
	z-index: 15;
	background-color: #404040;
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
	cursor: pointer;
}

#clear-button:before {
	content: "";
	width: 30px;
	height: 3px;
	position: absolute;
	top: 0;
	left: -1px;
	z-index: 16;
	background-color: #404040;
	-webkit-transform: rotateZ(90deg);
	transform: rotateZ(90deg);
	cursor: pointer;
}

@keyframes show {
	0% {opacity: 0; transform: rotateZ(30deg);}
	100% {opacity: 1; transform: rotateZ(45deg);}
}

.btn-show {
	display: inline-block;
	animation: show .5s;
}

.btn-hidden {
	display: none;
}


/* 查询结果 */
#result {
	color: #4C4C4C;
	font-family: inherit;
}

@keyframes fade-in {
	0% {opacity: .5;}
	100% {opacity: 1;}
}

#result ul {
	margin: 0;
	padding: .3rem 1rem .3rem 1rem;
	background-color: rgba(246,249,252,1);
	animation: fade-in .5s;
}

#result li {
	list-style: none;
	font-size: 1rem;
	line-height: 2;
}

#result > p {
	margin: 1rem 0 0.5rem;
	padding-left: 0.3rem;
	border-left: solid 0.3rem #7FC9FF;
	font-size: 1.25rem;
}

.website li {
	display: inline;
}

.website li:after {
	content: "； ";
}

#copy-right {
	width: 100%;
	margin: 0 auto;
	position: fixed;
	z-index: -1;
	bottom: 10px;
	color: #BABABA;
	font-size: 12px;
	text-align: center;
	text-shadow: 0 0 1px #FFF;
}

#copy-right a {
	color: #BABABA;
	font-style: italic;
}