* {
	margin: 0;
}

#wrap {
	position: absolute;
	margin:auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/* wrap层居中 */
	display: flex;
	padding: 20px;
	/*flex-direction: row;*/
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

#one {
	width: 150px;
	height: 120px;
	border: 2px solid #f00;
}

#two {
	width: 150px;
	height: 100px;
	border: 2px solid #f00;
}

#three {
	width: 150px;
	height: 40px;
	border: 2px solid #f00;
}

#four {
	width: 150px;
	height: 200px;
	border: 2px solid #0f0;
}

@media (max-width: 640px){
	#wrap {
		align-items: flex-start;
	}

	#four {
		order: -1;
	}
}