* {
	font-size: 1em;
	font-family: "PingFang SC","微软雅黑","黑体",sans-serif;
}

#wrap {
	width: 90%;
	margin: 	3em auto;
	padding: 1.25em;
	background: #eee;
	border: 0.1em solid #999;
	overflow: hidden;
}

/*------------ 左侧 ------------*/
#name {
	width: 10.5em;
	padding: 1em;
	background: #FFF;
	border: 0.1em solid #999;
	float: left;
	margin-left: -15em;
	margin-top: -1em;
}

#name h2 {
	float: right;
}

/*------------ 中间 ------------*/
#content {
	padding: 1em;
	background: #FFF;
	border: 0.1em solid #999;
	margin-left: 14em;
	margin-right: 9em;
}

p {
	text-indent: 2em;
}

/*------------ 右侧 ------------*/
#aside {
	background: #FFF;
	border: 0.1em solid #999;
	width: 7.5em;
	float: right;
	margin-right: -10em;
	margin-top: -1em;
}

#aside img {
	display: block;
	margin: 1em auto;
}